version: '3.2'

services:
    mysql:
        container_name: ${PROFIX}_${MYSQL_NAME}
        image: mysql:5.7
        ports:
            - "${MYSQL_PORT}:3306"
        volumes:
            - ./mysql_data:/var/lib/mysql
            - /etc/localtime:/etc/localtime:ro
            - ./mysql_dump_file:/docker-entrypoint-initdb.d
        environment:
            - MYSQL_DATABASE=${MYSQL_DB_NAME}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASS}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASS}
        logging:
            driver: "json-file"
            options:
                max-size: "200m"
                max-file: "2"
        networks:
            tq_network:
                ipv4_address: ${MYSQL_IP_ADDR}
        privileged: true
        restart: always

    nginx:
        container_name: ${PROFIX}_${NGINX_NAME}
        image: nginx:1.17
        ports:
            - "${NGINX_HTTP_PORT}:80"
            - "${NGINX_HTTPS_PORT}:443"
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./nginx/localhost.crt:/usr/share/nginx/certs/localhost.crt:ro
            - ./nginx/localhost.key:/usr/share/nginx/certs/localhost.key:ro
            - ./frontend/dist:/usr/share/nginx/html:ro
            - ./uploads:/usr/share/nginx/uploads:ro
            - /etc/localtime:/etc/localtime:ro
        links:
            - "backend:backend"
        depends_on:
            - backend
        networks:
            tq_network:
                ipv4_address: ${NGINX_IP_ADDR}
        logging:
            driver: "json-file"
            options:
                max-size: "200m"
                max-file: "2"
        privileged: true
        restart: always

    backend:
        container_name: ${PROFIX}_${BACKEND_NAME}
        build:
          context: ./
          dockerfile: ./docker_file/flag_backend/Dockerfile
        image: ${PROFIX}:${BACKEND_IMAGE_VERSION}
        ports:
            - "${BACKEND_PORT}:5000"
        environment:
            - MYSQL_URI=${BACKEND_MYSQL_URI}
            - ES_URI=${BACKEND_ES_URI}
        volumes:
            - ./app:/opt/tq/app
            - ./logs:/opt/tq/logs
            - ./uploads:/opt/tq/uploads
            - ./main.py:/opt/tq/main.py:ro
            - ./wsgi.ini:/opt/tq/wsgi.ini:ro
            - /etc/localtime:/etc/localtime:ro
            - ./tests:/opt/tq/tests
            - ./config/:/opt/tq/config
            - /opt/sharestore/md5_files:/opt/tq/sample_file
        links:
            - "mysql:mysql"
        depends_on:
            - "mysql"
        command: ["uwsgi", "--ini", "wsgi.ini"]
        networks:
            tq_network:
                ipv4_address: ${BACKEND_IP_ADDR}
        logging:
            driver: "json-file"
            options:
                max-size: "500m"
                max-file: "2"
        privileged: true
        restart: always
    redis:
        container_name: ${PROFIX}_${REDIS_NAME}
        image: redis:5
        ports:
            - "${REDIS_PORT}:6379"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        networks:
            tq_network:
                ipv4_address: ${REDIS_IP_ADDR}
        logging:
            driver: "json-file"
            options:
                max-size: "200m"
                max-file: "2"
        privileged: true
        restart: always

networks:
    tq_network:
        driver: bridge
        ipam:
           config:
              - subnet: ${SUBNET}
